#contact_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff8b;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  display: none;
}

.photograph-header {
  background: #fafafa;
  margin: 0 100px 20px 100px;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.photograph-header .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.photograph-header h1 {
  color: #d3573c;
  font-size: 64px;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.photograph-header .location {
  font-size: 24px;
  color: #901c1c;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.photograph-header .tagline {
  font-size: 18px;
  color: #525252;
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.photograph-header .portrait {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.contact_button {
  align-self: flex-start;
  padding: 20px 40px;
  font-size: 16px;
  background: #901c1c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover {
  background: #6d1414;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal {
  border-radius: 5px;
  background: #db8876;
  width: 50%;
  padding: 35px;
  margin: 40px auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

.modal form input,
.modal form textarea {
  border-radius: 5px;
  border: none;
  padding: 20px;
  font-size: 20px;
  width: 90%;
}

.modal form textarea {
  resize: vertical;
  min-height: 100px;
}

.media-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 90px;
  margin: 100px;
  justify-content: center;
}

.media-card {
  width: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #fff;
}

.media-card img,
.media-card video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.media-card p {
  font-size: 24px;
  color: #901c1c;
  margin: 0;
}

.media-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 2px;
  box-sizing: border-box;
  background: #fff;
}

/* */

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.lightbox img,
.lightbox video {
  width: 1000px;
  height: auto;
  max-height: 90vh;
  border-radius: 10px;
}

.lightbox p.lightbox-title {
  color: #901c1c;
  margin-top: 10px;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  align-self: flex-start;
  margin-left: 15%;
}

.lightbox button {
  position: absolute;
  background: none;
  border: none;
  color: #901c1c;
  font-size: 3rem;
  cursor: pointer;
}

.lightbox-close {
  top: 10px;
  right: 20px;
}

.lightbox-prev {
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}

.lightbox-next {
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

/**/

/* Conteneur principal de la zone de tri */
.sort-container {
  margin: 20px 100px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Label "Trier par" */
.sort-container label {
  font-weight: bold;
  color: #000;
}

/* Boîte du menu déroulant personnalisé */
.custom-dropdown {
  position: relative;
  width: 140px;
}

/* Bouton affichant l'option sélectionnée */
.selected-option {
  width: 100%;
  background: #901c1c;
  color: #fff;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  border-radius: 5px 5px 0 0;
}

/* Liste déroulante des options */
.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #901c1c;
  border-radius: 0 0 5px 5px;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Élément d’option */
.options li {
  padding: 10px 12px;
  color: #fff;
  cursor: pointer;
  font-weight: normal;
  border-top: 1px solid #fff;
}

/* Première option sans bord */
.options li:first-child {
  border-top: none;
}

/* Hover sur les options */
.options li:hover {
  background: #6d1414;
}

/* Option sélectionnée */
.options li.active {
  font-weight: bold;
  display: none;
}

/* Classe pour masquer les éléments */
.hidden {
  display: none;
}

/**/

.heart-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s;
}

.heart-icon:hover {
  transform: scale(1.1);
}

.like-container {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
  color: #901c1c;
}

.heart-icon.liked {
  font-weight: bold;
  filter: drop-shadow(0 0 1px #901c1c);
  font-size: 20px;
}

/**/
.stats-box {
  position: fixed;
  bottom: 0;
  right: 60px;
  background-color: #db8876;
  padding: 20px 40px;
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: 24px;
  color: #000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.stats-box .heart-icon {
  margin-top: -2px;
  width: 30px;
  height: 30px;
}

.stats-box .likes-container {
  display: flex;
  align-items: center;
  gap: 5px;
}